:root {
  --color1: rgb(255, 103, 0);
  --color2: #ebebeb;
  --color3: rgb(192, 192, 192);
  --color4: rgb(58, 110, 165);
  --color5: rgb(0, 78, 152);
}
.product_card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  box-shadow: 2px 4px 10px 1px rgba(192, 192, 192, 0.47);
  border-radius: 8px;
  gap: 10px;
  color: var(--color5);
  background-color: var(--color2);
  min-height: 490px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.product_card:hover {
  box-shadow: 2px 4px 10px 1px rgba(205, 103, 0, 0.47);
  border-bottom: solid 4px var(--color1);
  border-right: solid 4px var(--color1);
  border-top: solid 1px var(--color1);
  border-left: solid 1px var(--color1);
}
.product_card:hover .price{
  transform: translateY(1rem);
}
.product_card:hover .title{
  transform: translateX(1rem);
}
.title_category {
  display: flex;
  justify-content: space-between;
}
.product_card .title {
  color: var(--color1);
  transition: all 0.3s ease-in-out;
}
.category {
  font-size: 12px;
}
.product_card p {
  text-align: justify;
}
.product_card .price {
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.product_card img {
  width: 100%;
  max-width: max-content;
  border-radius: 6px;
}
.product_card .add_cart {
  color: green;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (min-width: 769px) {
  .product_card {
    width: 20%;
  }
}
