:root {
  --color1: #FF6700;
  --color2: #EBEBEB;
  --color3: #C0C0C0;
  --color4: #3A6EA5;
  --color5: #004e98;
}
.home_container {
  position: relative;
}

.scrollButton {
  display: flex;
}

@media (min-width: 769px) {
  .scrollButton {
    display: none;
  }
}