:root {
  --color1: #FF6700;
  --color2: #EBEBEB;
  --color3: #C0C0C0;
  --color4: #3A6EA5;
  --color5: #004e98;
}
.buttonUp {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 500;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: var(--color1);
  width: 50px;
  height: 50px;
}
.buttonUp a {
  text-decoration: none;
  color: var(--color5);
}
.scrollButton {
  display: flex;
}

@media (min-width: 769px) {
  .scrollButton {
    display: none;
  }
}