:root {
  --color1: #FF6700;
  --color2: #EBEBEB;
  --color3: #C0C0C0;
  --color4: #3A6EA5;
  --color5: #004e98;
}
@keyframes openMenu {
  0% {
    opacity: 0;
    transform: translateY(-92vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#headerPage{
  max-width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 200;
  height: 50px;
}
#headerPage img {
  margin-top: 10px;
  width: 50%;
  border-radius: 8px;
  height: 90%;
}
.hambMenu {
  position: absolute;
  top: 18px;
  right: 25px;
  border: none;
  background-color: transparent;
}
.hambMenu span {
  display: block;
  background-color: var(--color2);
  height: 3px;
  width: 28px;
  margin: 5px auto;
  border-radius: 2px;
  transition: all 0.5s;
}
#headerPage nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 100%;
  animation: openMenu;
  animation-duration: 1s;
  background-color: var(--color2);
  border-radius: 8px;
}
#headerPage nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
#headerPage a{
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: var(--color5);
  border-bottom: solid 1px var(--color1);
  border-radius: 8px;
}
#userWelcome {
  color: var(--color1);
  background-color: rgba(0, 58, 172, 0.5);
  padding: 5px;
  border-radius: 6px;
}
#headerPage nav.activeMenu {
  display: flex;
  margin-top: 10px;
}

.br1.animated {
  transform: rotate(-45deg) translate(-10px, 8px);
  background-color: var(--color5);
}
.br2.animated {
  opacity: 0;
}
.br3.animated {
  transform: rotate(45deg) translate(-3px, -2px);
  background-color: var(--color1);
}
#headerPage .cartIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 100px;
  width: 50px;
  height: 40px;
  border: none;
  padding: 5px;
  color: var(--color2);
}

@media (min-width: 769px) {
  .scrollDown {
    background-color: rgba(0, 58, 172, 0.5);
    border-radius: 8px;
    padding: 10px 5px;
    max-width: 100%;
  }
  #headerPage .cartIcon {
    right: 400px;
  }
  #headerPage{
    position: sticky;
    top: 0px;
    left: 0;
    margin: auto;
    transition: 0.2s;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0px;
  }
  #headerPage img {
    width: 40%;
  }
  .hambMenu {
    display: none;
  }
  #headerPage nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    animation: none;
    background-color: transparent;
    height: auto;
  }
  #headerPage nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  #headerPage a{
    color: var(--color2);
    margin-right: 5px;
    padding: 5px 10px;
    transition: 0.2s;
    width: auto;
    border: none;
    
  }
  
  #headerPage a:hover{
    border-radius: 3px;
    border: solid 2px var(--color2);
    box-shadow: 0px 0px 20px var(--color2);
  }
  
}