
:root {
    --color1: #FF6700;
    --color2: #EBEBEB;
    --color3: rgb(192, 192, 192);
    --color4: #3A6EA5;
    --color5: #004e98;
    }

.repairPage_container {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--color4);
    color: var(--color2);
    text-align: center;
    height: 100vh;
}

.repairPage_container header {
    text-align: center;
    padding: 20px;
    box-shadow: 2px 4px 10px 1px rgba(192, 192, 192, 0.47);
    border-radius: 8px;
}
.repairPage_container header img {
    width: 50%;
}
.repairPage_container .textSection {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.repairPage_container h1 img {
    width: 60px;
}
.repairPage_container a {
    text-decoration: none;
    color: var(--color1);
}

@media (min-width: 769px) {
    .repairPage_container header img {
        width: 30%;
    }
    .repairPage_container h1 {
        font-size: 2.5rem;
    }
    .repairPage_container p {
        font-size: 1.5rem;
    }
    .repairPage_container h2 {
        font-size: 2rem;
    }
  }